body {
    font-family: Arial, sans-serif;
    background: #f0f3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    background: #fff;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.word-display {
    letter-spacing: 8px;
    font-size: 30px;
    margin: 15px 0;
}

input {
    padding: 8px;
    width: 90%;
    text-align: center;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

#message {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    color: green;

}